@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

div {
    width: 100%;
}

.Header_titleStyle {
    font-family: 'Lobster Two', cursive;
    color: #FF5722;
    margin: 35px 0;
    text-align: center;
}